*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

.slide{
    height: 500px;
    width: 800px;
    position:relative;
    transition: margin-left 0.5s;
}

#slider{
    height: 500px;
    width: 800px;
    overflow: hidden;
}

#slides{
    width: 400%;
    height: 500px;
    display: flex;
}

#tudo{
    margin: 50px auto;
    width: 800px;
    display: flex;
}

.btn{
    background-color: white;
    height: fit-content;
    font-size: 70px;
    margin-top: 200px;
    cursor: pointer;
    border: none;
}